@keyframes ShowWithDelay {
    0% { opacity: 0}
    80% { opacity: 0}
    100%   { opacity: 1}
  }

.container {
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: white;
    /* background-image: url("../Public/PortfResumeBG1.png");
    background-size: cover; */
    z-index: 0;
}

.background {
    width: 100%;
}

.background::-webkit-scrollbar {
    width: 5px;
    border-radius: 12px;
  }
  
  .background::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
  }
  
  .background::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }


@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.youtubeVideoContainer {
    animation: ShowWithDelay 6s;

    position: absolute;
    display: flex;
    align-items: start;
    flex-direction:column;
    /* bottom: 250px; */
    /* left: 134px; */
    /* width: calc(100% - 134); */
    bottom: 4%;
    left: 9%;
    width: calc(100% - 9%);
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Russo One', sans-serif;
    z-index: 110;
}

.youtubeVideoContainer a:link, a:visited {
    text-decoration: none;
    color: rgb(39, 115, 197);
}

.youtubeVideoContainer a:hover {
    text-decoration:underline;
    color: rgb(111, 194, 224);
}

@media (max-width: 900px) {
    .youtubeVideoContainer {
        font-size: 19px;
        bottom: 3%;
    }
}

@media (max-width: 690px) {
    .youtubeVideoContainer {
        font-size: 15px;
    }
}
