.defaultContainer {
    position: absolute;
    width: auto;
    height: calc(100% - 60px);
    right: 0px;
    transition: 1s;
}

.container {
    position: absolute;
    left: 140px;
    top: calc(2.4% + 55px);
    right: 1.2%;
    bottom: 2.4%;
    box-shadow: 0px 0px 0px 2px rgb(141, 162, 245), 0px 0px 0px 8px rgb(0, 0, 0);
    
    border-radius: 10px;
    transition: 0.3s;
    overflow: auto;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* .container:hover {
    box-shadow: 0px 0px 4px 1px rgba(117, 122, 221, 0.714);
} */

.container::-webkit-scrollbar {
    width: 7px;
    border-radius: 12px;
}

.container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

.container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}


.screen {
    position: absolute;
    pointer-events: none;
}

.videoScreen {
    position: absolute;
    width: auto;
    height: 100%;
    /* top: 0px;
    left: 0px; */
    opacity: 0;
    z-index: 2;
}