.container {
    display: flex;
    position: fixed;
    transition: 0.5s opacity, 0.5s width;
}

.container .image {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 2px solid black;
    border-radius: 2px;
    opacity: 0.4;
    transition: 0.2s;
}

.container .image:hover {
    width: 240px;
    opacity: 1;
    z-index: 100;
}

@media (max-width: 720px) {
    .container .image {
        height: 100px;
        width: 40px;
    }

    .container .image:hover {
        width: 120px;
    }
  }


.dummy {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-left: -1px;
    border-left: 1px solid rgb(184, 174, 255);
    z-index: 0;
}
